{% extends 'baseback2.html.twig' %}


{% block body %}

<div class="container mt-4">


<br>
<h2 style="color: steelblue; text-align: center"> Ajouter Votre Moyen Transport</h1>
<br>
<br>
<br>

{{ include('moyen_transport/_form.html.twig' , {form: form, button: 'Ajouter'}) }}

</div>
   

{% endblock %}
