{% extends 'basestat.html.twig' %}

 
{% block css %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.css" 
integrity="sha512-/zs32ZEJh+/EO2N1b0PEdoA10JkdC3zJ8L5FTiQu82LR9S/rOQNfQN7U59U9BC12swNeRAz3HSzIL2vpp4fv3w==" 
crossorigin="anonymous" referrerpolicy="no-referrer" />

{% endblock %}

{% block body %}

<div class="container">
    <h1>Statistiques</h1>
    <canvas id="transport" width="400" height="100"></canvas>

</div>

{% endblock %}

{% block javascripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.min.js" 
integrity="sha512-QSkVNOCYLtj73J4hbmVoOV6KVZuMluZlioC+trLpewV8qMjsWqlIQvkn1KGX2StWvPMdWGBqim1xlC8krl1EKQ==" 
crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script>
   let transport = document.querySelector("#transport")
    let transportGraph = new Chart(transport, {
        type: "pie",
        data: {
            labels: ["transport1", "transpor2", "transport3"],
            datasets: [{
                label: "Les Moyens Transport",
                data: [2,3,5],
                backgroundColor: ["red", "green", "blue"]
            }]
        }
    })

</script>
{% endblock %}
