{% extends 'front.html.twig' %}


{% block title %}Create Event{% endblock %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block body %}
    {% for message in app.flashes('info') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    <h1 >Create new Evenement</h1>
   
    {{ form_start(form,{attr:{'novalidate':'novalidate'}}) }}

    {{ form_widget(form)}}


    <button class="btn btn-primary">{{ button_label|default('Create') }}</button>
    <script type="text/javascript">
        var vsid = "kc24347452b1f83";
        (function() {
            var vsjs = document.createElement('script'); vsjs.type = 'text/javascript'; vsjs.async = true; vsjs.setAttribute('defer', 'defer');
            vsjs.src = 'https://www.leadchatbot.com/vsa/chat.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(vsjs, s);
        })();
    </script>



{% endblock %}