{% extends 'front.html.twig' %}


{% block body %}

<div class="container mt-4">


<br>
<h2 style="color: steelblue; text-align: center"> Modifier Informations de compte</h1>
<br>
<br>
<br>

{{ include('utilisateurs/_form.html.twig' , {form: form, button: 'Modifier'}) }}

</div>
   

{% endblock %}
