{% extends 'base.html.twig' %}

{% block title %}New LigneCommande{% endblock %}

{% block body %}
    <h1>Create new LigneCommande</h1>

    {{ include('ligne_commande/_form.html.twig') }}

{% endblock %}
