{% extends 'base.html.twig' %}


{% block body %}

<div class="container mt-4">


<br>
<h2 style="color: steelblue; text-align: center"> Réserver Maintenant </h2>
<br>
<br>
<br>

{{ include('reservation_moyen_transport/_form.html.twig' , {form: form, button: 'Réserver'}) }}

</div>
   

{% endblock %}
